{% extends 'base2.html' %}

{% load static from staticfiles %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/services.css' %}">
	<style>
		.relleno-both-lateral-3{
			padding-left: 5em !important;
			padding-right: 0 !important;
		}
	</style>
	<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
{% endblock %}

{% block main %}

<header id="header-services">
	
</header>
<section class="secciones" >
	<div class="container container-responsive">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center title-especial">
			
				<h1 class="font-size-3" >
					<strong>SERVICES<span class="color-texto-sunflower">.</span></strong>
				</h1>
				
			</div>
			<div class="col-md-12">
				<p class="margen-top-dos">
					{% for text_service in text_services %}
						<p class="text-justify">{{text_service.content}}</p>
					{% empty %}
						<div class="alert alert-warning text-center" role="alert">
							<b>Empty text for Service!</b> - <a href="/admin">Add Text.</a>
						</div>
					{% endfor %}
				</p>
			</div>
		</div>
	
		<div class="row margen-top-dos">
			<div class="col-md-6 col-md-offset-3 text-center" id="services-offered">
				<h2 class="font-size-3">SERVICES OFFERED</h2>
			</div>

		</div>
		<div class="row margen-top-dos">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="row">
					{% for service in services|dictsort:"name" %}
						{% if service.description %}
						{% else %}
							<div class="col-md-6 col-sm-6 col-xs-6">	
								<p> {{service.name}}</p>
							</div>
						{% endif %}
					{% empty %}
						<div class="alert alert-warning text-center" role="alert">
							<b>Empty list of Services Offered!</b> - <a href="/admin">Add Services.</a>
						</div>
					{% endfor %}
				</div>
			</div>
			
		</div>

		<div class="row margen-top-uno">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					{% for service in services %}
						{% if service.description %}

							<div class="col-md-6">
								<h5 class="text-center title-especial-2 margen-top-uno upper"><span class="glyphicon glyphicon-link color-texto-sunflower"></span>&nbsp;&nbsp;&nbsp;{{service.name}}</h5>
								<p class="text-justify">{{service.description}}</p>
							</div>


						{% else %}
						{% endif %}
					
					{% empty %}
						<div class="alert alert-warning text-center" role="alert">
							<b>Empty list of Sectors!</b> - <a href="/admin">Add Sectors.</a>
						</div>

					{% endfor %}
				</div>
			</div>
		</div>

		<div class="row margen-top-dos">
			<div class="col-md-8 col-md-offset-2 text-center" id="licenses-and-certifications">
				<h2 class="font-size-3">LICENSES AND CERTIFICATIONS</h2>
				<p>SRS Engineering, Inc. has received technical certifications from the following agencies:</p>
			</div>

		</div>

		<div class="row margen-top-uno">

			<div class="text-center">
						<h2>
							LICENSES
						</h2>
					</div>
			
			{% for entity in entities %}

					

					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margen-top-uno">
						<div class="media">
						  <a class="pull-left" href="#">
						  	{% if entity.image %}
						  		<img src="{{MEDIA_URL}}{{entity.image}}" width="64px" style="margin-top:2em">
						  	{% else %}
						  		<img src="{% static 'img/imagen-defecto.jpg' %}" width="64px" style="margin-top:2em">
						  	{% endif %}
						    
						  </a>
						  <div class="media-body">
						    <h4 class="media-heading"><b>{{entity.name_entity|upper}}</b></h4>
							
							<div class="row">
								{% for license in licenses %}
									{% ifequal entity.name_entity license.entity.name_entity %}

										<div class="col-lg-6 col-md-6">
											{{license.number}} {{license.title}}
										</div>
									{% endifequal %}
								{% endfor %}
							</div>
							

						  </div>
						</div>
					</div>

			{% empty %}
				<div class="alert alert-warning text-center" role="alert">
					<b>Empty list of Licenses!</b> - <a href="/admin">Add Licenses.</a>
				</div>

			{% endfor %}
		</div>

		<div class="row margen-top-uno">
			<div class="text-center">
						<h2>
							CERTIFICATIONS
						</h2>
					</div>
				
			{% for institution in institutions %}

					

					<div class="col-md-12 col-sm-12 col-xs-12 margen-top-uno">
						<div class="media">
						  <a class="pull-left" href="#">
						  	{% if institution.image %}
						  		<img src="{{MEDIA_URL}}{{institution.image}}" width="64px" style="margin-top:2em">
						  	{% else %}
						  		<img src="{% static 'img/imagen-defecto.jpg' %}" width="64px" style="margin-top:2em">
						  	{% endif %}
						    
						  </a>
						  <div class="media-body">
						    <h4 class="media-heading"><b>{{institution.name_institution|upper}}</b></h4>
							
							<div class="row">
								{% for certification in certifications %}

									{% ifequal institution.name_institution certification.institution.name_institution %}
										<div class="col-lg-6 col-md-6">
											{{certification.title}}
										</div>
									{% endifequal %}
								{% endfor %}
							</div>
							

						  </div>
						</div>
					</div>

			{% empty %}
				<div class="alert alert-warning text-center" role="alert">
					<b>Empty list of Certifications!</b> - <a href="/admin">Add Certifications.</a>
				</div>

			{% endfor %}
	
					
				
			
			
		</div>

		<div class="row margen-top-dos">
			<div class="col-md-6 col-md-offset-3 text-center" id="awards">
				<h2 class="font-size-3">AWARDS</h2>
				
			</div>

		</div>

		<div class="row margen-top-dos">
			<div class="col-md-6 col-md-offset-3">
				{% for award in awards %}
				<div class="row">
					<div class="media">
					  <a class="pull-left">
					  	{% if award.image %}
					  		<img src="{{MEDIA_URL}}{{award.image}}" width="56px" style="margin-top:.5em;">
					  	{% else %}
					  		<div style="margin-top:.5em;width:56px;height:15px"></div>
					  	{% endif %}
					    
					  </a>
					  <div class="media-body text-center">
					    <div >{{award.title}}</div>
					    
					  </div>
					</div>
				</div>
				
				{% empty %}
					<div class="alert alert-warning text-center" role="alert">
						<b>Empty list of Awards!</b> - <a href="/admin">Add Awards.</a>
					</div>

				{% endfor %}

				

			</div>
		</div>

	</div>
</section>

{% endblock %}
