{% extends 'base2.html' %}

{% load static from staticfiles %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<style>
		#address{
			-webkit-padding-bottom: .5em;
		}
	</style>
	
{% endblock %}

{% block  main %}
<section id="principal-careers">
	<div class="container-srs">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 title-especial" id="title-careers">
				<h1 class="font-size-4-3"><strong class="bold-900">CAREERS<span class="color-texto-sunflower">.</span></strong></h1>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12" id="cont-img-careers">
				<div width="100%" class="img-contact">
					
				</div>
				
			</div>
		</div>
	</div>
</section>

<section id="content-careers">
	<div class="container-srs">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center" id="subtitle-careers">
				<h2 class="font-size-3 title-especial"><strong class="bold-900">LOOKING FOR NEW <span class="color-texto-sunflower">TALENT.</span></strong></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="text-justify font-futurastd" style="margin-top: 1.45em;">
					The only thing that trumps knowledge is experience. The SRS Engineering management team combined represents over 70 years of civil engineering experience.  In addition to 20 years operational field experience, the Network is in place to provide exceptional innovative solutions to its clients.  Solutions that result in successful and efficiently completed projects.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3" style="margin-top: 2.5em;">
				<div class="form-horizontal">
				  <div class="form-group">
				    <label class="col-sm-3 control-label source-sans-pro">NAME</label>
				    <div class="col-sm-9">
				      <input type="text" class="form-control" id="name">
				    </div>
				  </div>
				  <!--<div class="form-group">
				    <label class="col-sm-3 control-label source-sans-pro">LASTNAME</label>
				    <div class="col-sm-9">
				      <input type="text" class="form-control" id="lastname">
				    </div>
				  </div>-->
				  <!--<div class="form-group">
				    <label class="col-sm-3 control-label source-sans-pro">ADDRESS</label>
				    <div class="col-sm-9">
				      <input type="text" class="form-control" id="address">
				    </div>
				  </div>-->
				  <div class="form-group">
				    <label class="col-sm-3 control-label source-sans-pro">EMAIL</label>
				    <div class="col-sm-9">
				      <input type="text" class="form-control" id="email">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-3 control-label source-sans-pro">TELEPHONE</label>
				    <div class="col-sm-9">
				      <input type="text" class="form-control" id="phone">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-3 control-label source-sans-pro">CV UPLOAD</label>
				    <div class="col-sm-9">
				      <input type="file" id="address" style="padding-top:.5em" >
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-12 text-center">
				      <button class="btn btn-customize btn-default btn-default-customize source-sans-pro-2"><b>SEND</b></button>
				    </div>
				  </div>
				</div>
				<div class="alert alert-success alert-send"></div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block js %}


<script>

$('.btn-default-customize').click(function(){
	var careersData = {
		name: $('#name').val(),
		email: $('#email').val(),
		telephone: $('#phone').val()
	}

	$.ajaxSetup({ 
			 data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		     beforeSend: function(xhr, settings) {
		         function getCookie(name) {
		             var cookieValue = null;
		             if (document.cookie && document.cookie != '') {
		                 var cookies = document.cookie.split(';');
		                 for (var i = 0; i < cookies.length; i++) {
		                     var cookie = jQuery.trim(cookies[i]);
		                     // Does this cookie string begin with the name we want?
		                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                     break;
		                 }
		             }
		         }
		         return cookieValue;
		         }
		         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
		             // Only send the token to relative URLs i.e. locally.
		             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		         }
		     } 
		});

	$.ajax({
		data: careersData,
		url: '/send-careers-email/',
		type: 'POST',
		success: function(data){
			$('.form-control').val('');

			$('.alert-send').show();
			$('.alert-send').text(data);

			setTimeout(function(){
				$('.alert-send').hide();
			}, 3000);
			
		}
	});
});


</script>

{% endblock %}
