{% extends 'base2.html' %}

{% load static from staticfiles %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	
{% endblock %}

{% block  main %}
<section id="principal-careers">
	<div class="container-srs">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 title-especial title-especial-responsive" id="title-careers">
				<h1 class="font-size-4-3"><strong class="bold-900">CONTACT US<span class="color-texto-sunflower">.</span></strong></h1>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12" id="cont-img-careers">
				<div width="100%"class="img-contact-careers">
					
				</div>
				
			</div>
		</div>
	</div>
</section>

<section id="content-careers">
	<div class="container-srs">
		<!--<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center" id="subtitle-careers">
				<h2 class="font-size-3 title-especial"><strong>LOOKING FOR NEW <span class="color-texto-sunflower">TALENT</span></strong></h2>
			</div>
		</div>-->
		<div class="row">
			<div class="col-md-12">
				<p class="text-justify font-futurastd">
					Get to know us! Learn our capabilities... experience the diversity in our team.  Are we the solution to your project? Do we have the answer to your problem? Want to collaborate with us? We look forward to meeting you!
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 margen-top-dos">
				<div class="form-horizontal">
				  <div class="form-group">
				    <div class="col-md-12">
				    	<label for="interest">I'M INTERESTED IN<span class="color-texto-sunflower">*</span></label>
				      <input type="text" class="form-control" id="interested">
				    </div>
				  </div>
				  <div class="form-group">
				    <!--<label for="firstname">First Name</label>-->
				    <div class="col-md-12">
				    	<label for="interest">NAME</label>
				      <input type="text" class="form-control" id="name">
				    </div>
				 
				    <!--<div class="col-md-6">
				    	<label for="interest">LAST NAME</label>
				      <input type="text" class="form-control" id="last-name">
				    </div>-->
				  </div>
				  <div class="form-group">
				    <!--<label for="firstname">First Name</label>-->
				    <div class="col-xs-6">
				    	<label for="emailaddress">EMAIL ADDRESS</label>
				      <input type="text" class="form-control" id="email">
				    </div>
				  
				    <div class="col-xs-6">
				    	<label for="telephone">TELEPHONE</label>
				      <input type="text" class="form-control" id="telephone">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-xs-12">
				    	<label for="company">COMPANY</label>
				      <input type="text" class="form-control" id="company">
				    </div>
				 
				    <!--<div class="col-xs-6">
				    	<label for="address">ADDRESS</label>
				      <input type="text" class="form-control" id="address">
				    </div>-->
				  </div>
				  <!--<div class="form-group">
				    <div class="col-xs-4">
				    	<label for="city">CITY<span class="color-texto-sunflower">*</span></label>
				    </div>
				    <div class="col-xs-4">
				    	<label for="state">STATE</label>
				    </div>
				    <div class="col-xs-4">
				    	<label for="country">COUNTRY</label>
				    </div>
				    <div class="col-xs-4">
				      <input type="text" class="form-control" id="city">
				    </div>
				    <div class="col-xs-4">
				      <input type="text" class="form-control" id="state">
				    </div>
				    <div class="col-xs-4">
				      <input type="text" class="form-control" id="country">
				    </div>
				  </div>
				  <div class="form-group">
				  	<div class="col-xs-12">
				    	<label for="Learn">HOW DID YOU LEARN ABOUT OUR SITE?</label>
					</div>
				    <div class="col-xs-12">
				      <textarea class="form-control" rows="3" id="how"></textarea>
				    </div>
				  </div>
				  <div class="form-group">
				  	<div class="col-xs-12">
				    	<label for="comments">COMMENTS/QUESTIONS<span class="color-texto-sunflower">*</span></label>
				    </div>
				    <div class="col-xs-12">
				      <textarea class="form-control" rows="3" id="comments"></textarea>
				    </div>
				  </div>-->
				  <div class="form-group">
				  	<div class="col-xs-12">
				    	<label for="message">MESSAGE<span class="color-texto-sunflower">*</span></label>
				    </div>
				    <div class="col-xs-12">
				      <textarea class="form-control" rows="3" id="message"></textarea>
				    </div>
				  </div>				  		  
				  <div class="form-group">
				    <div class="col-sm-offset-1 col-sm-10 text-center">
				      <button class="btn btn-customize btn-default btn-default-customize"><b>SEND</b></button>
				    </div>
				  </div>

				</div>
				<div class="alert alert-success alert-send"></div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block js %}

<script>

$('.btn-default-customize').click(function(){
	var contactUsData = {
		interested: $('#interested').val(),
		name: $('#name').val(),
		//lastname: $('#last-name').val(),
		email: $('#email').val(),
		telephone: $('#telephone').val(),
		company: $('#company').val(),
		message: $('#message').val()
	}

	$.ajaxSetup({ 
		     beforeSend: function(xhr, settings) {
		         function getCookie(name) {
		             var cookieValue = null;
		             if (document.cookie && document.cookie != '') {
		                 var cookies = document.cookie.split(';');
		                 for (var i = 0; i < cookies.length; i++) {
		                     var cookie = jQuery.trim(cookies[i]);
		                     // Does this cookie string begin with the name we want?
		                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                     break;
		                 }
		             }
		         }
		         return cookieValue;
		         }
		         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
		             // Only send the token to relative URLs i.e. locally.
		             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		         }
		     } 
		});

	$.ajax({
		data: contactUsData,
		url: '/send-contact-us-email/',
		type: 'POST',
		success: function(data){
			$('.form-control').val('');

			$('.alert-send').show();
			$('.alert-send').text(data);

			setTimeout(function(){
				$('.alert-send').hide();
			}, 3000);
			
		}
		
	});
});


</script>

{% endblock %}
