{% extends 'base2.html' %}

{% load static from staticfiles %}

{% block css %}


<link rel="stylesheet" href="{% static 'css/sectors.css' %}">
<link rel="stylesheet" href="{% static 'css/perfect-scrollbar.css'%}">
<style>
	.relleno-both-lateral-3{
		padding-left: 5em !important;
		padding-right: 0 !important;
	}
	
	.ps{
		position: relative;
		height: 230px;
	}
</style>
<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

{% endblock %}

{% block main %}
	
	{% for s in sector %}
	<header  style="background: url('{{MEDIA_URL}}{{s.image}}') center no-repeat; background-size:cover" id="header-detalle-sector">
		
	</header>

	<section class="secciones">
		<div class="container container-responsive-3">
			
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center title-especial" >
					
					<h1 class="font-size-3 mayuscula">
						
						<strong class="bold-900" >{{s.name}}<span class="color-texto-sunflower">.</span></strong>
						
					</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 descripcion-sector" style="margin-top:20px; font-size:15px">
					<p>
						{{s.description}}
					</p>
				</div>
			</div>
			

			{% for project in projects %}

			{% ifequal project.sector.slug s.slug%}
			<div class="row margen-top-dos proyecto">
				<div class="col-md-12">
					<p class="color-texto-sunflower sector-text-responsive" style="font-size:30px">{{project.project_name}}</p>
					<h3 class="sector-text-responsive-2" style="font-size:25px; color:#37424A"><b>Location: </b>{{project.location}}</h3>
					<h3 class="sector-text-responsive-2" style="font-size:25px; color:#37424A"><b>Client: </b>{{project.client_name}}</h3>
					<div class="row" style="margin-top:18px;">
						<div class="col-md-5 col-md-5-customize" >
							<img src="{{MEDIA_URL}}{{project.image}}" class="img-proyecto" width="100%" height="">
						</div>
						<div class="col-md-7 inner-both-uno detalle-proyecto" style="height:280px !important">
							<div class="row ">
								<div class="col-md-12 ps" id="{{project.id}}">
									<h4 class="color-texto-sunflower">PROJECT DESCRIPTION</h4>
									<p STYLE="font-size:15px">{{project.description}}</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			{% endifequal %}

			{% endfor %}

		</div>

		
			
			
	
	</section>
	{% endfor %}
		

{% endblock %}
{% block js %}

<script src="{% static 'js/vendor/perfect-scrollbar.js' %}"></script>
<script>
	$(document).ready(function(){
		resizeWindow();
	});

	$(window).on('resize', resizeWindow);

	function resizeWindow(){
		var windowSize = $(window).width()
		console.log(windowSize)
		var altura = $('.detalle-proyecto').height();
		$('.img-proyecto').attr('height', altura+56);

		if(windowSize<=1009){
			var altura = $('.detalle-proyecto').height();
			$('.img-proyecto').attr('height', '230px');
		}
	}
	
</script>
<script>

	var lon = $('.ps').size();

	$('.ps').each(function(){
		console.log($(this).attr('id'));
		var idVal = $(this).attr('id'); 
		var containerPs = document.getElementById(idVal);
		Ps.initialize(containerPs);
	})
	
</script>

{% endblock %}
