{% extends 'base2_es.html' %}

{% load static from staticfiles %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/services.css' %}">
	<style>
		.relleno-both-lateral-3{
			padding-left: 5em !important;
			padding-right: 0 !important;
		}
	</style>
	<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
{% endblock %}

{% block main %}

<header id="header-services">
	
</header>
<section class="secciones" >
	<div class="container container-responsive">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center title-especial">
			
				<h1 class="font-size-3" >
					<strong>SERVICIOS<span class="color-texto-sunflower">.</span></strong>
				</h1>
				
			</div>
			<div class="col-md-12">
				<p class="margen-top-dos">
					{% for text_service in text_services %}
						<p class="text-justify">{{text_service.content}}</p>
					{% empty %}
						<div class="alert alert-warning text-center" role="alert">
							<b>Empty text for Service!</b> - <a href="/admin">Add Text.</a>
						</div>
					{% endfor %}
				</p>
			</div>
		</div>
	
		<div class="row margen-top-dos">
			<div class="col-md-6 col-md-offset-3 text-center" id="servicios-ofrecidos">
				<h2 class="font-size-3">SERVICIOS OFRECIDOS</h2>
			</div>

		</div>
		<div class="row margen-top-dos">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="row">
					{% for service in services %}
					<div class="col-md-6 col-sm-6 col-xs-6">	
						<p>{{service.name}}</p>
					</div>
					{% empty %}
						<div class="alert alert-warning text-center" role="alert">
							<b>Empty list of Services Offered!</b> - <a href="/admin">Add Services.</a>
						</div>
					{% endfor %}
				</div>
			</div>
			
		</div>

		<div class="row margen-top-uno">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					{% for sector in sectors %}
					<div class="col-md-6">
						<h5 class="text-center title-especial-2 margen-top-uno upper"><a href="/sectors/{{sector.slug}}" class="a-null-sector"><span class="glyphicon glyphicon-link color-texto-sunflower"></span>&nbsp;&nbsp;&nbsp;{{sector.name}}</a></h5>
						<p class="text-justify">{{sector.description}}</p>
					</div>

					{% empty %}
						<div class="alert alert-warning text-center" role="alert">
							<b>Empty list of Sectors!</b> - <a href="/admin">Add Sectors.</a>
						</div>

					{% endfor %}
				</div>
			</div>
		</div>

		<div class="row margen-top-dos">
			<div class="col-md-8 col-md-offset-2 text-center" id="licencias-y-certificaciones">
				<h2 class="font-size-3">LICENCIAS Y CERTIFICACIONES</h2>
				<p>SRS Engineering, Inc. ha recibido certificaciones técnicas de las siguientes agencias:</p>
			</div>

		</div>

		<div class="row margen-top-uno">
			{% for e_license in e_licenses %}
			<div class="col-md-6 col-sm-6 col-xs-12 margen-top-uno">
				<div class="media">
				  <a class="pull-left" href="#">
				    {% if e_license.image %}
				  		<img src="{{MEDIA_URL}}{{e_license.image}}" width="64px" style="margin-top:2em; ">
				  	{% else %}
				  		<img src="{% static 'img/imagen-defecto.jpg' %}" width="64px" style="margin-top:2em">
				  	{% endif %}
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading"><b>{{e_license.name_entity|upper}}</b></h4>
					
					{% for license in e_license.licenses.all %}
						<p>{{license.number}} {{license.title}}</p>
					{% endfor%}


				  </div>
				</div>
			</div>
			{% empty %}
				<div class="alert alert-warning text-center" role="alert">
					<b>Empty list of Licenses!</b> - <a href="/admin">Add Licenses.</a>
				</div>

			{% endfor %}

			
		</div>

		<div class="row margen-top-dos">
			<div class="col-md-6 col-md-offset-3 text-center" id="premios">
				<h2 class="font-size-3">PREMIOS</h2>
				
			</div>

		</div>

		<div class="row margen-top-dos">
			<div class="col-md-6 col-md-offset-3">
				{% for award in awards %}
				<div class="row">
					<div class="media">
					  <a class="pull-left">
					    {% if award.image %}
					  		<img src="{{MEDIA_URL}}{{award.image}}" width="56px" style="margin-top:.5em;">
					  	{% else %}
					  		<img src="{% static 'img/imagen-defecto2.jpg' %}" width="56px" style="margin-top:.5em;">
					  	{% endif %}
					  </a>
					  <div class="media-body">
					    <p class="text-center">{{award.title}}</p>
					    
					  </div>
					</div>
				</div>
				
				{% empty %}
					<div class="alert alert-warning text-center" role="alert">
						<b>Empty list of Awards!</b> - <a href="/admin">Add Awards.</a>
					</div>

				{% endfor %}

				

			</div>
		</div>

	</div>
</section>

{% endblock %}
